.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10vh 0 6vh;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    touch-action: pan-y;
    transform: translateY(-2rem);

    @media screen and (orientation: portrait) {
        padding: 5vh 0;
    }
}
